@import './variables.scss';

/** 公共标签 start */
html, body, #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}
/** 公共标签 end */


/** 自定义常用类 start */
._custom_max {
  height: 100%;
  width: 100%;
}

._custom_longText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/** 自定义常用类 end */
